* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    color: black;
    border: 2px solid darkgrey;
    background-color: white;
}

/*******************************************guest button***********************************/
.dropdownng {
    position: absolute;
    display: inline-block;
    left: 373px;
    top: 97.5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdownng-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownng-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownng-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdownng:hover .dropdownng-content {
    display: block;
}

/***********type of place button******************/
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdownnt {
    position: absolute;
    display: inline-block;
    left: 445px;
    top: 97.5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdownnt-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownnt-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownnt-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdownnt:hover .dropdownnt-content {
    display: block;
}
/**********more button****************************/
.dropdownna {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdownna .dropbtnna {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}



.navbara a:hover, .dropdowna:hover .dropbtna {
    background-color: grey;
}



.dropdownna-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



.dropdownna-content .header {
    background: grey;
    padding: 16px;
    color: white;
}



.dropdownna:hover .dropdownna-content {
    display: block;
}



/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    background-color: #ccc;
    height: 320px;
}



.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}



.column a:hover {
    background-color: #ddd;
}



/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    clear: both;
}