.dropdownna {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdownna .dropbtnna {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbara a:hover, .dropdowna:hover .dropbtna {
    background-color: red;
}

.dropdownna-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownna-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdownna:hover .dropdownna-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    background-color: #ccc;
    height: 200px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;

}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    clear: both;
}